.pad{
    padding-left: 10px;
    padding-right: 10px;
}
.input-pad{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.icons{
    
    margin-bottom: 8px;
}